<%= form_for [@company, @job] do |f| %>
<table>
  <tr>
    <th><%= f.label :title, class: "form-label" %></th>
    <th><%= f.text_field :title, class: "form-field" %></th>
  </tr>
  <tr>
    <th><%= f.label :description, class: "form-label" %></th>
    <th><%= f.text_field :description, class: "form-field" %></th>
  </tr>
  <tr>
    <th><%= f.label :level_of_interest, class: "form-label" %></th>
    <th><%= f.number_field :level_of_interest, class: "form-field" %></th>
  </tr>
  <tr>
    <th><%= f.label :city, class: "form-label" %></th>
    <th><%= f.text_field :city, class: "form-field" %></th>
  </tr>
  <tr>
    <th><%= f.label :category_id, class: "form-label" %></th>
    <th><%= f.collection_select :category_id, Category.all, :id, :title, {}, id: "drop-down-menu" %></th>
  </tr>
  <tr>
    <th colspan=2 ><%= f.submit%></th>
  </tr>
</table>

<% end %>
