<!-- <nav>
  <h1>All Jobs for<%= @company.name %></h1>
  <%= link_to "Back Home", root_path, class: "nav-links" %>
  <%= link_to "New Job", new_company_job_path(@company), class: "nav-links" %>
</nav>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
  <%= link_to "Edit Job", edit_company_job_path(@company, job) %>
  <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
<% end %>

<h3> Contacts </h3>

<%= form_for [@company,@contact] do |f| %>
  <%= f.submit %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
  <%= f.label :position %>
  <%= f.text_field :position %>
  <%= f.label :email %>
  <%= f.text_field :email %>
<% end %> -->
