<nav>
  <h1>Create a new job at: <%= @company.name %></h1>
  <%= link_to "Back Home", root_path, class: "nav-links" %>
  <%= link_to "Company List", companies_path, class: "nav-links" %>
  <%= link_to "Categories List", categories_path, class: "nav-links" %>
</nav>


<%= render partial: "form" %>
